@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$fonts: Inter, Roboto;
$bg-color: #FFFBFF;
$fg-color: #4A7C59;
$accent-color: #003459;
$text-color: #0D0A0B;

body {
    font-family: $fonts;
    background-color: $bg-color;
    color: $text-color;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}